/* Additional styling for the Job Application webpage - in addition to Bootstrap */

img {
    height: 50%;
    width: 50%;
    float: right;
    border-radius: 2px;
}

.para1{
    margin-bottom: -25px;
    margin-top: -50px;
    font-style: italic;
}

.para2 {
    font-style: italic;
    margin-right: 500px;
}

.button1{
    float: right;
}

